body { background-color: #92BDE7;}
.contain {
    height:80vh;
    width:90% ;
    margin-left: 110px;
    border: 2px solid rgb(45, 80, 133);
    box-shadow: 0 3px 2px rgb(45, 80, 133);
    display: inline-block;
}
.column1 {
    height:80vh;
    display: inline-block;
    width:37%;
    vertical-align: top;
    background-color: #C9E6FF;
    padding-left: 25px;  
}
.column2 {
    height:80vh;
    display: inline-block;
    width:58%;
    background-color: #F9FEFF;
    padding-left: 25px;
    padding-right: 6px;
}
.bodytext { font-size: 20px;}
.abc { font-size: 20px;}
h1 {
    padding-left: 110px;
    padding-top: 10px;
    font-size: 45px;
}
.titre { color:rgb(45, 80, 133);}
.titre span { color: white;}
label {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}
.bouton {
    height:5vh;
    width:96%;
    background-color: rgb(162, 210, 224);
    color: black;
}
.bouton:hover { color: white; }
.form-element{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
input[type="text"]{
    width: 100%;
    height: 5vh;
}
img {
    height:30vh;
    width:50%;  
    margin-left: 20%;

}